build/*

aubio/examples/*.o
aubio/examples/aubionotes
aubio/examples/aubioonset
aubio/examples/aubioquiet
aubio/examples/aubiotrack

aubio/examples/.libs/*

aubio/ext/*.o
aubio/ext/*.lo
aubio/ext/*.la
aubio/ext/.libs/*

aubio/ext/.libs/*.o


aubio/python/aubio/*.o
aubio/python/aubio/*.lo
aubio/python/aubio/*.la

aubio/python/aubio/.libs/
aubio/python/aubio/.libs/*.o
aubio/python/aubio/.libs/*.la

aubio/python/aubio/aubio_wrap.c
aubio/python/aubio/aubiowrapper.py

aubio/src/*.o
aubio/src/*.lo
aubio/src/*.la

aubio/src/.libs/

docs/presentation.aux
docs/presentation.log
docs/presentation.nav
docs/presentation.out
docs/presentation.pdf
docs/presentation.snm
docs/presentation.toc
docs/presentation.vrb
