build/*

aubio/examples/*.o

aubio/ext/*.o
aubio/ext/*.lo
aubio/ext/*.la
aubio/ext/.libs/*

aubio/ext/.libs/*.o


aubio/python/aubio/*.o
aubio/python/aubio/*.lo
aubio/python/aubio/*.la

aubio/python/aubio/.libs/*.o
aubio/python/aubio/.libs/*.la
